<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181299607553-5nkns7ge9vc8r3kei5qsuhgd0vh6ov85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181299607553-5nkns7ge9vc8r3kei5qsuhgd0vh6ov85</string>
	<key>API_KEY</key>
	<string>AIzaSyCLv5wpKWuGmjgB6ILGGG8HAIqr3P9-bHc</string>
	<key>GCM_SENDER_ID</key>
	<string>181299607553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devsolutions.marcoart.Login</string>
	<key>PROJECT_ID</key>
	<string>loginchat-fc997</string>
	<key>STORAGE_BUCKET</key>
	<string>loginchat-fc997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181299607553:ios:db654406deceeefd58a800</string>
</dict>
</plist>